*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
}



.container{
  max-width: 1152px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-wrapper{
  width: 500px;;
}
.todo-heading{
  text-align: center;
}
.todo-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.todo-form-label{
   flex: 1 1 0;
}
.todo-form-input{
  padding: 8px;
  width: 100%;
}
.todo-btn{
  padding: 8px;
}
.todo-items{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

.todo-item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 8px;
}

.todo-text{
  flex: 1;
  margin: 0;
  padding: 8px;
  border: 1px solid black;
}